<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Social Lunch</h1>

  <h2>Discover. Plan. Have fun!</h2>

  <%= link_to "Connect with Facebook", '#', class: "btn btn-large btn-primary" %>
</div>

